<p id="notice"><%= notice %></p>
<p>
<%= image_tag current_user.photo.file? ? current_user.photo.url(:avatar) : "http://placehold.it/955x955" %>
</p>
<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Discription:</b>
  <%= @blog.discription %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
